<div id="myModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content"></div>
	</div>
</div>
<script>
var updateModalContent = function($elt) {
	$elt.find("a[data-target=#myModal]").click(function(e) {
		e.preventDefault();
		var target = this.href;
		$elt.load(target, function() {
			updateModalContent($elt);
		});
	});
};
$(document).ready(function() {
	$('.popupClose').on('click', function(e) {
		//e.preventDefault();
		$('#myModal').modal('hide');
	});
	$("a[data-target=#myModal]").click(function(e) {
		e.preventDefault();
		var target = this.href;
		// load the url and show modal on success
		$("#myModal .modal-content").load(target, function() {
			updateModalContent($(this));
			$("#myModal").modal("show");
		});
	});
});
</script>