{# Template called when you want to reset email a second time without resetting #}
{% extends "FulgurioUserBundle::layout_like_popup.html.twig" %}

{% block styles %}
.container .panel-heading a {
	float:right;
	font-size: 85%;
	position: relative;
	top:-10px;
}
{% endblock %}

{% block content %}
				<div class="panel panel-info">
					<div class="panel-heading">
						<div class="panel-title">{% trans %}form.lost.password.lost.password{% endtrans %}</div>
						<div><a href="{{ path('fos_user_security_login') }}">{% trans %}form.register.sign.in{% endtrans %}</a></div>
					</div>
					<div class="panel-body">
						<p>{%  trans from 'FOSUserBundle' %}resetting.password_already_requested{% endtrans %}</p>
					</div>
				</div>
{% endblock content %}
