{# Form to reset password, which send an email #}
{% extends "FulgurioUserBundle::layout_like_popup.html.twig" %}

{% block content %}
				<div class="panel panel-forgot-password panel-info">
					<div class="panel-heading">
						<div class="panel-title">{% trans %}form.lost.password.lost.password{% endtrans %}</div>
						<div><a href="{{ path('fos_user_security_login') }}" data-target="#myModal">{% trans %}form.register.sign.in{% endtrans %}</a></div>
					</div>
					<div class="panel-body">
						<form id="forgot-password-form" action="{{ path('fos_user_resetting_send_email') }}" method="post" class="form-horizontal" role="form">
{% if invalid_username is defined %}
							<div class="alert alert-danger">
								<p>{% trans %}form.error{% endtrans %} :</p>
								<ul>
									<li>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</li>
								</ul>
							</div>
{% endif %}
							<div class="form-group">
								<label for="username" class="col-md-7 control-label">{% trans %}form.lost.password.please.type.username{% endtrans %}</label>
								<div class="col-md-5">
									<input type="text" class="form-control" name="username" id="username" autocomplete="off" autofocus required>
								</div>
							</div>
							<div class="form-group submit">
								<div class="col-md-offset-3 col-md-9">
									<button type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp;{% trans %}form.lost.password.submit{% endtrans %}</button>
								</div>
							</div>
						</form>
					</div>
				</div>
{% if app.request.isXmlHttpRequest()  %}
				<script>
$('#forgot-password-form').submit(function(e) {
	e.preventDefault();
	$.ajax({
		url: this.action,
		type: 'post',
		data: $(this).serialize(),
		success: function(html) {
			var $elt = $("#myModal .modal-content");
			$elt.html(html);
			updateModalContent($elt);
		}
	});
});
				</script>
{% endif %}
{% endblock %}